VITE_PUBLIC_WEB_BASE_URL=https://www.chandanest.in
# Optional dev override
VITE_DEV_BASE_URL=http://localhost:5173
VITE_ADMIN_WEB_BASE_URL=http://localhost:5174
VITE_GOOGLE_MAPS_API_KEY=AIzaSyDZLbJPRcq1SLP647S5oFCBUUbU5Xs96u8
